
@media only screen and (min-width: 600px){
    main {
        max-width: 60%;
    }
}
@media only screen and (min-width: 1000px){
    main {
        max-width: 40%;
    }
}

body {
    background-image:url('color.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size:auto;
    background-repeat: no-repeat;
    font-family:Arial, Helvetica, sans-serif;
}

main {
    background-color: lightgray;
    max-width: 90%;
    margin: auto;
    border-radius: 10px;
    opacity: .8;
    
    
}

label{
    display: block;
    justify-content: left;
    margin-left:25px;
    margin:auto;
    padding-left:25px;  
    
    }

input {
width:50%;
margin-left:25px;
  
}

header{
    background-color:lightslategray;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    padding:10px;
    border-radius: 10px;
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;

}

#additems {
    display:flex;
    justify-content: space-between;
}

#deletebutton {
    background-color: lightsalmon;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-weight: bold;
    margin-right:10px;
    
}


#submitbutton {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgreen;
    color:black;
    font-size:larger;
}

#results {
    /* justify-content: space-between;
    text-align: center;
    display:flex; */
    font-family: Arial, Helvetica, sans-serif;
    padding-left:10px;
    display: grid;
    grid-template-columns: 5fr 1fr;    
    grid-template-rows: 1fr;  
    grid-template-areas:
            "areaTitle/descr   areaButton" ;
}

